body{
    font-family: arial;
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-bottom: 10px;
}
nav{
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -8px;
    color: white;
    padding-bottom: 0px;
    text-align: center;
    line-height: 0.2;
}
.content{
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(0, 2, 2);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 80px;
    border-radius: 10px;
    text-align: center;
    color: white;
    line-height: 0.2;
    
}
img{
    
    margin-top: 0px;
    padding: 0%;

}
.price{
    color: rgb(250, 245, 245, 0.7);
    font-size: smaller;
}