body{
    font-family: arial;
}
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-bottom: 10px;
}
nav{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    color: white;
    padding-bottom: 0px;
    text-align: center;
    line-height: 0.2;
}
.content{
    background-color: white;
    width: 100%;
    margin-top: 80px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    line-height: 0.05px;
    display: flex;
}
img{
    height: 10%;
    width: 20%;
    margin-top: 0px;
    padding: 0%;
    box-shadow: 10px 10px 10px rgba(0, 17, 255, 0.15);
    height: 70%;
    margin: 10px;
    border-radius: 10px;
    


}
.price{
    color: rgba(0, 0, 0, 0.7);
    font-size: smaller;
    
    margin-top: 15px;
}
.outfit{
    color: rgba(0, 0, 0);
    font-weight: bold;
    margin-top: 15px;
}
.text{
    line-height: 0.01cm;
}
.description{
    padding-top: 5px;
}