footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-bottom: 10px;
}
nav{
    background-color: black;
    width: 100%;
    

}
li{
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-top: 0;    
}