body{
    font-family: arial;
    font-size: 80%;
}
footer{
    position: inherit;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    font-size: 100%;
    padding-top: 10px;
    margin-top: 30px;
    
}

nav{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    color: white;
    padding-bottom: 0px;
    text-align: center;
    line-height: 0.2;
    
}
#icons{
    padding: 10px;
}
.content{
    background-color: white;
    width: 100%;
    margin-top: 80px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    line-height: 0.05px;
    display: flex;
    transition: box-shadow 0.5s;
    font-size: 100%;
    
}
.thumbmail{
    height: 10%;
    width: 20%;
    margin-top: 0px;
    padding: 0%;
    box-shadow: 10px 10px 10px rgba(0, 17, 255, 0.15);
    height: 70%;
    margin: 10px;
    border-radius: 10px;
    transition: box-shadow 0.5s, height 0.5s, width 0.5s;
    
}
.price{
    color: rgba(0, 0, 0, 0.7);
    font-size: smaller;
    
    margin-top: 15px;
}
.outfit{
    color: rgba(0, 0, 0);
    font-weight: bold;
    margin-top: 11px;
    padding-left: 0;
    padding: 0;
}
.text{
    line-height: 15px;    
}

.content:hover{
    box-shadow: 10px 10px 10px rgba(0, 17, 255, 0.15);
}
.thumbmail:hover{
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.2);
    height: 12%;
    width: 22%;
}
.description{
    line-height: 20px;
    padding-top: 0;
    margin-top: 0;
    width: 80%;
    font-size: 15px;
}
.refubrish{
    padding-left: 0;
    margin-left: 0;
}
.buttons{
    margin-bottom: 0.01%;
    width: 100%;

}
button{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-right: 2%;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: box-shadow 1.15s;
}
.buy{
    background-color: rgb(61, 61, 255);
    color: white;
    transition: background-color 0.25s, box-shadow 0.15s;

}
.buy:hover{
    box-shadow: 10px -5px 10px rgba(0, 17, 255, 0.15);
}
.buy:active{
    background-color: black;
    color: white;
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.25);
}

.addcart{
    background-color: rgb(255, 193, 77);
    color: white;
    transition: background-color 0.25s, box-shadow 0.15s;
    
}
.addcart:hover{
    box-shadow: 10px -5px 10px rgba(255, 193, 77, 0.25);
}
.addcart:active{
    background-color: black;
    color: white;    
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.25);
}
.view{
    background-color: rgb(4, 255, 50);
    color: white;
    transition: background-color 0.25s, box-shadow 0.15s;
}
.view:hover{
    box-shadow: 10px -5px 10px rgb(4, 255, 50, 0.25);
}
.view:active{
    background-color: black;
    color: white;
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.25);
}
.about{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    box-sizing: border-box;
    background-color: rgb(29, 2, 59);
    position: relative;
    justify-content: center;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 500px;
    width: 350px;
    overflow: hidden;
    border-radius: 50px;
}
.denz{
    font-size: xx-large;
    font-family: eorgia, 'Times New Roman', Times, serif;
    z-index: 2;
    margin-top: 0;
}
.box::before{
    content: '';
    position: absolute;
    width: 160%;
    height: 120%;
    background: linear-gradient(red,rgb(0, 255, 64), blue, orange);
    animation: rotate 1s linear infinite;
    box-shadow: 10px, 10px, rgba(255, 255, 255, 0.3);
}
@keyframes rotate {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}
.box::after{
    content: '';
    position: absolute;
    border-radius: 5px;
    background-color: rgb(29, 2, 59);
    border-radius: 50px;
    inset: 1px;
}
.jeans{
    z-index: 1;
    width: 99%;
    position: absolute;
    height: 99%;
    border-radius: 50px;
}
.backhome{
    right: 0;
    position: absolute;
    top: 10%;
    font-size: xx-large;
    color: white;
    background-color: transparent;
}
.backhome:hover{
    background-color: red;
}